<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Capacitor PWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takePicture()" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Capture image
  </ion-button>

  <ion-img *ngIf="myImage" [src]="myImage"></ion-img>

  <ion-button (click)="getCurrentPosition()" expand="block">
    <ion-icon name="locate" slot="start"></ion-icon>
    Get position
  </ion-button>

  <!-- present the geolocation information -->
  <ion-card *ngIf="position">
    <ion-card-content>
      <ion-item>
        <ion-icon name="location" slot="start"></ion-icon>
        Lat: {{ position.coords.latitude }}
      </ion-item>
      <ion-item>
        <ion-icon name="location" slot="start"></ion-icon>
        Lng: {{ position.coords.longitude }}
      </ion-item>

      <ion-button (click)="share()" expand="block" color="secondary">
        <ion-icon name="share" slot="start"></ion-icon>
        Share!
      </ion-button>
    </ion-card-content>
  </ion-card>

  

  <ion-list>
    <ion-button
      expand="block"
      [disabled]="bluetoothIsScanning"
      (click)="scanForBluetoothDevices()"
    >
      {{ bluetoothIsScanning?"Scaning":"Scan for bluetooth devices" }}
    </ion-button>

    <ng-container *ngIf="bluetoothScanResults.length>0">
      <ion-item *ngFor="let scanResult of bluetoothScanResults">
        <ion-label>
          <h2>{{scanResult.device?.name ?? "NO name" }}</h2>
          <p style="font-size: 8px">{{scanResult.device.deviceId}}</p>
        </ion-label>

        <ion-button
          (click)="disconnectFromBluetoothDevice(scanResult)"
          color="danger"
          slot="end"
        >
          Disconnect
        </ion-button>

        <ion-button (click)="connectToBluetoothDevice(scanResult)" slot="end">
          Connect
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="bluetoothConnectedDevice" style="margin-top: 40px">
      <ion-list-header>
        CONNECTED TO: {{bluetoothConnectedDevice.device.name}} ✅
      </ion-list-header>

      <ion-list-header> Go Pro Bluetooth Commands </ion-list-header>
      <ion-item>
        <ion-label>Take Photo</ion-label>
        <ion-button
          slot="end"
          (click)="sendBluetoothWriteCommand(shutterCommand)"
        >
          send
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Shut Down</ion-label>
        <ion-button
          slot="end"
          (click)="sendBluetoothWriteCommand(shutdownCommand)"
        >
          send
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Get GoPro Wifi Creds</ion-label>
        <ion-button slot="end" (click)="getGoProWiFiCreds()"> send </ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Enable Go Pro WiFi Access Point</ion-label>
        <ion-button
          slot="end"
          (click)="sendBluetoothWriteCommand(enableGoProWiFiCommand)"
        >
          send
        </ion-button>
      </ion-item>

    <div style="height: 300px"></div>
    </ng-container>
  </ion-list>

</ion-content>

